.image-style {
    height: 400px;
    width: 600px;
    
    }
    
    /* Общие стили для шапки */
    header {
    background-color: teal;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Кнопки будут справа */
    padding: 0 20px; /* Отступы внутри шапки */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень для шапки */
    }
    
    /* Общие стили для кнопок */
    .common-button {
    width: 100px;
    height: 40px; /* Уменьшим высоту для шапки */
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: teal;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px; /* Отступ между кнопками */
    }
    
    .common-button:hover {
    background-color: #c3d2f3;
    }
    
    /* Стиль для кнопки "Ru" */
    .language-button {
    background-color: #6c757d;
    }
    
    .language-button:hover {
    background-color: #5a6268;
    }
    
    .text-align {
    align-items: center;
    justify-content: center;
    }
    
    
    
